* {
	  box-sizing: border-box;
	}

	body {
	  margin: 0;
	  font-family: Helvetica; 
    background: gray;
    display: grid;
    grid-template-rows: 4fr 1fr 3fr 1fr;

	}

div{
  border: solid;
}
#div1{
    display: flex;
    flex-direction: column;
}
#div1 > nav{
  text-align: right;
}
#div1 > h1{
  text-align: center;
}
#div1> img{
  width: 20%;
  margin: auto;
  border-radius: 50%;
  border: 3px solid green;
}

#div4 > div {
  width: 50%;
  background: green;
}

#div4{
  display: flex;
}

  
   